In [1]:
from sqlalchemy import create_engine,text

In [2]:
engine=create_engine("postgresql://postgres:shivanshkimkc@db.ywftdjkjdchwmnmytrjj.supabase.co:5432/postgres")

In [5]:
some_sql="""SELECT SUM(n_live_tup) AS total_rows
FROM pg_stat_user_tables;"""

In [7]:
import os
from supabase import create_client,Client

In [8]:
engine=create_engine("postgresql://postgres:shivanshkimkc@db.ywftdjkjdchwmnmytrjj.supabase.co:5432/postgres")