In [5]:
"""Make an embedding for the SQL query things like to make and local embedding"""
from langchain_text_splitters import RecursiveJsonSplitter
from langchain_google_genai import ChatGoogleGenerativeAI
from dotenv import load_dotenv
import json
from langchain_core.documents import Document

from langchain_chroma import Chroma
from langchain_google_genai import GoogleGenerativeAIEmbeddings
import os
load_dotenv()
from upload_to_vector import generate_embeddings


os.environ['GOOGLE_API_KEY']=os.getenv('GOOGLE_API_KEY')


model=GoogleGenerativeAIEmbeddings(model='gemini-embedding-001')
vectordb=Chroma(embedding_function=model,persist_directory='./chroma_db')
# print(model.invoke("HI I AM GAY"))

c:\Users\rawat\anaconda3\envs\yt_summarizer\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [6]:
answer=vectordb.similarity_search_with_score("Show me all the songs in the 'Heavy Metal' category.",k=10)

In [8]:
x="Show me all the songs in the 'Heavy Metal' category."

In [9]:
ss=model.embed_query(x)

In [12]:
len(ss)

3072

In [3]:
answer

[(Document(id='da0533d0-35a4-459c-94b6-c4fc79ef929c', metadata={'parent_id': 'table_genre', 'type': 'entities'}, page_content='CONCEPTS genre: ENTITIES: Genre, Music Type, Category'),
  0.4430049657821655),
 (Document(id='cac76823-816d-4353-9b90-bc5ed0f76ab7', metadata={'parent_id': 'table_playlist', 'type': 'metadata'}, page_content='METADATA playlist: COLUMNS: playlist_id (N/A), name (N/A)'),
  0.46221181750297546),
 (Document(id='02bb14e6-111f-4b4c-8157-775a44283366', metadata={'type': 'metadata', 'parent_id': 'table_genre'}, page_content='METADATA genre: COLUMNS: genre_id (N/A), name (N/A)'),
  0.4651331901550293),
 (Document(id='b427e02d-1832-4ca3-b053-cab120e29bfb', metadata={'type': 'metadata', 'parent_id': 'table_artist'}, page_content='METADATA artist: COLUMNS: artist_id (N/A), name (N/A)'),
  0.46897685527801514),
 (Document(id='91d73d0c-12e4-483b-90c2-8805836ac9c0', metadata={'parent_id': 'table_track', 'type': 'connections'}, page_content='CONNECTIONS track: CONNECTED TO album, genre, media_type'),
  0.47482675313949585),
 (Document(id='c29878e7-1a0e-4e84-86eb-1532827fc0d3', metadata={'type': 'metadata', 'parent_id': 'table_track'}, page_content='METADATA track: COLUMNS: track_id (N/A), name (N/A), album_id (N/A), media_type_id (N/A), genre_id (N/A), composer (N/A), milliseconds (N/A), bytes (N/A), unit_price (N/A)'),
  0.4827558994293213),
 (Document(id='16f6cf01-1b28-40e3-9b43-d415c9293661', metadata={'type': 'entities', 'parent_id': 'table_track'}, page_content='CONCEPTS track: ENTITIES: Track, Album, Media Type, Genre, Composer, Product'),
  0.4857146739959717),
 (Document(id='cc5da65c-1dd3-4d82-b4b0-da6b8280da79', metadata={'parent_id': 'table_album', 'type': 'metadata'}, page_content='METADATA album: COLUMNS: album_id (N/A), title (N/A), artist_id (N/A)'),
  0.48967793583869934),
 (Document(id='a50ef969-ddf1-4cfd-b90e-77c6cc00d83c', metadata={'parent_id': 'table_playlist', 'type': 'connections'}, page_content='CONNECTIONS playlist: CONNECTED TO playlist_track'),
  0.49029064178466797),
 (Document(id='cbfa778a-901d-415b-8a75-9936b8f2b603', metadata={'parent_id': 'table_album', 'type': 'entities'}, page_content='CONCEPTS album: ENTITIES: Album, Artist, Track, Song, Music'),
  0.4986580014228821)]

In [8]:
print(vectordb.get(where={"parent_id": "table_track"}))

{'ids': ['e295e6bf-a313-435d-8f06-665903ed00cf', '3d688769-2de5-41ad-a469-c0e67ce7ac29', 'c29878e7-1a0e-4e84-86eb-1532827fc0d3', '91d73d0c-12e4-483b-90c2-8805836ac9c0', '16f6cf01-1b28-40e3-9b43-d415c9293661'], 'embeddings': None, 'documents': ["TABLE:track. SUMMARY: Stores detailed information about individual music tracks.. PURPOSE: To catalog all music tracks available in the system, providing essential metadata such as the track's name, its associated album, media type, genre, composer, duration, file size, and unit price. It serves as the primary repository for track-specific data, enabling playback, searching, and purchasing functionalities.. DEPENDENCIES: This table is central to the music catalog. It relates to the `album` table (album_id to album_id) to link tracks to their respective albums, the `media_type` table (media_type_id to media_type_id) to specify the format of the track, and the `genre` table (genre_id to genre_id) to categorize tracks by musical style. Records in this table depend on the existence of IDs in these parent tables.", 'DEPENDENCIES FOR track: This table is central to the music catalog. It relates to the `album` table (album_id to album_id) to link tracks to their respective albums, the `media_type` table (media_type_id to media_type_id) to specify the format of the track, and the `genre` table (genre_id to genre_id) to categorize tracks by musical style. Records in this table depend on the existence of IDs in these parent tables.. KEYS: track_id, album_id, genre_id, media_type_id', 'METADATA track: COLUMNS: track_id (N/A), name (N/A), album_id (N/A), media_type_id (N/A), genre_id (N/A), composer (N/A), milliseconds (N/A), bytes (N/A), unit_price (N/A)', 'CONNECTIONS track: CONNECTED TO album, genre, media_type', 'CONCEPTS track: ENTITIES: Track, Album, Media Type, Genre, Composer, Product'], 'uris': None, 'included': ['metadatas', 'documents'], 'data': None, 'metadatas': [{'type': 'full_docs', 'parent_id': 'table_track'}, {'type': 'dependencies', 'parent_id': 'table_track'}, {'type': 'metadata', 'parent_id': 'table_track'}, {'type': 'connections', 'parent_id': 'table_track'}, {'parent_id': 'table_track', 'type': 'entities'}]}

In [1]:
def clean_sql(text):
    """Removes markdown formatting like ```sql and ```"""
    cleaned = text.replace("```sql", "").replace("```", "").strip()
    return cleaned

In [4]:
clean_sql("```sql sfkuhdkbcgjchfcsj   " \
"" \
"" \
"```" )

'sfkuhdkbcgjchfcsj'

In [6]:
response = (
    client.table("actor")
    .select("*")
    .execute()
)

[{'actor_id': 31,
  'first_name': 'SISSY',
  'last_name': 'SOBIESKI',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 1,
  'first_name': 'PENELOPE',
  'last_name': 'GUINESS',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 2,
  'first_name': 'NICK',
  'last_name': 'WAHLBERG',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 3,
  'first_name': 'ED',
  'last_name': 'CHASE',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 4,
  'first_name': 'JENNIFER',
  'last_name': 'DAVIS',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 5,
  'first_name': 'JOHNNY',
  'last_name': 'LOLLOBRIGIDA',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 6,
  'first_name': 'BETTE',
  'last_name': 'NICHOLSON',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 7,
  'first_name': 'GRACE',
  'last_name': 'MOSTEL',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 8,
  'first_name': 'MATTHEW',
  'last_name': 'JOHANSSON',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 9,
  'first_name': 'JOE',
  'last_name': 'SWANK',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 10,
  'first_name': 'CHRISTIAN',
  'last_name': 'GABLE',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 11,
  'first_name': 'ZERO',
  'last_name': 'CAGE',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 12,
  'first_name': 'KARL',
  'last_name': 'BERRY',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 13,
  'first_name': 'UMA',
  'last_name': 'WOOD',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 14,
  'first_name': 'VIVIEN',
  'last_name': 'BERGEN',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 15,
  'first_name': 'CUBA',
  'last_name': 'OLIVIER',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 16,
  'first_name': 'FRED',
  'last_name': 'COSTNER',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 17,
  'first_name': 'HELEN',
  'last_name': 'VOIGHT',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 18,
  'first_name': 'DAN',
  'last_name': 'TORN',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 19,
  'first_name': 'BOB',
  'last_name': 'FAWCETT',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 20,
  'first_name': 'LUCILLE',
  'last_name': 'TRACY',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 21,
  'first_name': 'KIRSTEN',
  'last_name': 'PALTROW',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 22,
  'first_name': 'ELVIS',
  'last_name': 'MARX',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 23,
  'first_name': 'SANDRA',
  'last_name': 'KILMER',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 24,
  'first_name': 'CAMERON',
  'last_name': 'STREEP',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 25,
  'first_name': 'KEVIN',
  'last_name': 'BLOOM',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 26,
  'first_name': 'RIP',
  'last_name': 'CRAWFORD',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 27,
  'first_name': 'JULIA',
  'last_name': 'MCQUEEN',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 28,
  'first_name': 'WOODY',
  'last_name': 'HOFFMAN',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 29,
  'first_name': 'ALEC',
  'last_name': 'WAYNE',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 30,
  'first_name': 'SANDRA',
  'last_name': 'PECK',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 32,
  'first_name': 'TIM',
  'last_name': 'HACKMAN',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 33,
  'first_name': 'MILLA',
  'last_name': 'PECK',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 34,
  'first_name': 'AUDREY',
  'last_name': 'OLIVIER',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 35,
  'first_name': 'JUDY',
  'last_name': 'DEAN',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 36,
  'first_name': 'BURT',
  'last_name': 'DUKAKIS',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 37,
  'first_name': 'VAL',
  'last_name': 'BOLGER',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 38,
  'first_name': 'TOM',
  'last_name': 'MCKELLEN',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 39,
  'first_name': 'GOLDIE',
  'last_name': 'BRODY',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 40,
  'first_name': 'JOHNNY',
  'last_name': 'CAGE',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 41,
  'first_name': 'JODIE',
  'last_name': 'DEGENERES',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 42,
  'first_name': 'TOM',
  'last_name': 'MIRANDA',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 43,
  'first_name': 'KIRK',
  'last_name': 'JOVOVICH',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 44,
  'first_name': 'NICK',
  'last_name': 'STALLONE',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 45,
  'first_name': 'REESE',
  'last_name': 'KILMER',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 46,
  'first_name': 'PARKER',
  'last_name': 'GOLDBERG',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 47,
  'first_name': 'JULIA',
  'last_name': 'BARRYMORE',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 48,
  'first_name': 'FRANCES',
  'last_name': 'DAY-LEWIS',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 49,
  'first_name': 'ANNE',
  'last_name': 'CRONYN',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 50,
  'first_name': 'NATALIE',
  'last_name': 'HOPKINS',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 51,
  'first_name': 'GARY',
  'last_name': 'PHOENIX',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 52,
  'first_name': 'CARMEN',
  'last_name': 'HUNT',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 53,
  'first_name': 'MENA',
  'last_name': 'TEMPLE',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 54,
  'first_name': 'PENELOPE',
  'last_name': 'PINKETT',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 55,
  'first_name': 'FAY',
  'last_name': 'KILMER',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 56,
  'first_name': 'DAN',
  'last_name': 'HARRIS',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 57,
  'first_name': 'JUDE',
  'last_name': 'CRUISE',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 58,
  'first_name': 'CHRISTIAN',
  'last_name': 'AKROYD',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 59,
  'first_name': 'DUSTIN',
  'last_name': 'TAUTOU',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 60,
  'first_name': 'HENRY',
  'last_name': 'BERRY',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 61,
  'first_name': 'CHRISTIAN',
  'last_name': 'NEESON',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 62,
  'first_name': 'JAYNE',
  'last_name': 'NEESON',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 63,
  'first_name': 'CAMERON',
  'last_name': 'WRAY',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 64,
  'first_name': 'RAY',
  'last_name': 'JOHANSSON',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 65,
  'first_name': 'ANGELA',
  'last_name': 'HUDSON',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 66,
  'first_name': 'MARY',
  'last_name': 'TANDY',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 67,
  'first_name': 'JESSICA',
  'last_name': 'BAILEY',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 68,
  'first_name': 'RIP',
  'last_name': 'WINSLET',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 69,
  'first_name': 'KENNETH',
  'last_name': 'PALTROW',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 70,
  'first_name': 'MICHELLE',
  'last_name': 'MCCONAUGHEY',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 71,
  'first_name': 'ADAM',
  'last_name': 'GRANT',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 72,
  'first_name': 'SEAN',
  'last_name': 'WILLIAMS',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 73,
  'first_name': 'GARY',
  'last_name': 'PENN',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 74,
  'first_name': 'MILLA',
  'last_name': 'KEITEL',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 75,
  'first_name': 'BURT',
  'last_name': 'POSEY',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 76,
  'first_name': 'ANGELINA',
  'last_name': 'ASTAIRE',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 77,
  'first_name': 'CARY',
  'last_name': 'MCCONAUGHEY',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 78,
  'first_name': 'GROUCHO',
  'last_name': 'SINATRA',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 79,
  'first_name': 'MAE',
  'last_name': 'HOFFMAN',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 80,
  'first_name': 'RALPH',
  'last_name': 'CRUZ',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 81,
  'first_name': 'SCARLETT',
  'last_name': 'DAMON',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 82,
  'first_name': 'WOODY',
  'last_name': 'JOLIE',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 83,
  'first_name': 'BEN',
  'last_name': 'WILLIS',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 84,
  'first_name': 'JAMES',
  'last_name': 'PITT',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 85,
  'first_name': 'MINNIE',
  'last_name': 'ZELLWEGER',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 86,
  'first_name': 'GREG',
  'last_name': 'CHAPLIN',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 87,
  'first_name': 'SPENCER',
  'last_name': 'PECK',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 88,
  'first_name': 'KENNETH',
  'last_name': 'PESCI',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 89,
  'first_name': 'CHARLIZE',
  'last_name': 'DENCH',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 90,
  'first_name': 'SEAN',
  'last_name': 'GUINESS',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 91,
  'first_name': 'CHRISTOPHER',
  'last_name': 'BERRY',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 92,
  'first_name': 'KIRSTEN',
  'last_name': 'AKROYD',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 93,
  'first_name': 'ELLEN',
  'last_name': 'PRESLEY',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 94,
  'first_name': 'KENNETH',
  'last_name': 'TORN',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 95,
  'first_name': 'DARYL',
  'last_name': 'WAHLBERG',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 96,
  'first_name': 'GENE',
  'last_name': 'WILLIS',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 97,
  'first_name': 'MEG',
  'last_name': 'HAWKE',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 98,
  'first_name': 'CHRIS',
  'last_name': 'BRIDGES',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 99,
  'first_name': 'JIM',
  'last_name': 'MOSTEL',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 100,
  'first_name': 'SPENCER',
  'last_name': 'DEPP',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 101,
  'first_name': 'SUSAN',
  'last_name': 'DAVIS',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 102,
  'first_name': 'WALTER',
  'last_name': 'TORN',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 103,
  'first_name': 'MATTHEW',
  'last_name': 'LEIGH',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 104,
  'first_name': 'PENELOPE',
  'last_name': 'CRONYN',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 105,
  'first_name': 'SIDNEY',
  'last_name': 'CROWE',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 106,
  'first_name': 'GROUCHO',
  'last_name': 'DUNST',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 107,
  'first_name': 'GINA',
  'last_name': 'DEGENERES',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 108,
  'first_name': 'WARREN',
  'last_name': 'NOLTE',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 109,
  'first_name': 'SYLVESTER',
  'last_name': 'DERN',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 110,
  'first_name': 'SUSAN',
  'last_name': 'DAVIS',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 111,
  'first_name': 'CAMERON',
  'last_name': 'ZELLWEGER',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 112,
  'first_name': 'RUSSELL',
  'last_name': 'BACALL',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 113,
  'first_name': 'MORGAN',
  'last_name': 'HOPKINS',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 114,
  'first_name': 'MORGAN',
  'last_name': 'MCDORMAND',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 115,
  'first_name': 'HARRISON',
  'last_name': 'BALE',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 116,
  'first_name': 'DAN',
  'last_name': 'STREEP',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 117,
  'first_name': 'RENEE',
  'last_name': 'TRACY',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 118,
  'first_name': 'CUBA',
  'last_name': 'ALLEN',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 119,
  'first_name': 'WARREN',
  'last_name': 'JACKMAN',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 120,
  'first_name': 'PENELOPE',
  'last_name': 'MONROE',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 121,
  'first_name': 'LIZA',
  'last_name': 'BERGMAN',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 122,
  'first_name': 'SALMA',
  'last_name': 'NOLTE',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 123,
  'first_name': 'JULIANNE',
  'last_name': 'DENCH',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 124,
  'first_name': 'SCARLETT',
  'last_name': 'BENING',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 125,
  'first_name': 'ALBERT',
  'last_name': 'NOLTE',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 126,
  'first_name': 'FRANCES',
  'last_name': 'TOMEI',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 127,
  'first_name': 'KEVIN',
  'last_name': 'GARLAND',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 128,
  'first_name': 'CATE',
  'last_name': 'MCQUEEN',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 129,
  'first_name': 'DARYL',
  'last_name': 'CRAWFORD',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 130,
  'first_name': 'GRETA',
  'last_name': 'KEITEL',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 131,
  'first_name': 'JANE',
  'last_name': 'JACKMAN',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 132,
  'first_name': 'ADAM',
  'last_name': 'HOPPER',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 133,
  'first_name': 'RICHARD',
  'last_name': 'PENN',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 134,
  'first_name': 'GENE',
  'last_name': 'HOPKINS',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 135,
  'first_name': 'RITA',
  'last_name': 'REYNOLDS',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 136,
  'first_name': 'ED',
  'last_name': 'MANSFIELD',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 137,
  'first_name': 'MORGAN',
  'last_name': 'WILLIAMS',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 138,
  'first_name': 'LUCILLE',
  'last_name': 'DEE',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 139,
  'first_name': 'EWAN',
  'last_name': 'GOODING',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 140,
  'first_name': 'WHOOPI',
  'last_name': 'HURT',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 141,
  'first_name': 'CATE',
  'last_name': 'HARRIS',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 142,
  'first_name': 'JADA',
  'last_name': 'RYDER',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 143,
  'first_name': 'RIVER',
  'last_name': 'DEAN',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 144,
  'first_name': 'ANGELA',
  'last_name': 'WITHERSPOON',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 145,
  'first_name': 'KIM',
  'last_name': 'ALLEN',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 146,
  'first_name': 'ALBERT',
  'last_name': 'JOHANSSON',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 147,
  'first_name': 'FAY',
  'last_name': 'WINSLET',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 148,
  'first_name': 'EMILY',
  'last_name': 'DEE',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 149,
  'first_name': 'RUSSELL',
  'last_name': 'TEMPLE',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 150,
  'first_name': 'JAYNE',
  'last_name': 'NOLTE',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 151,
  'first_name': 'GEOFFREY',
  'last_name': 'HESTON',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 152,
  'first_name': 'BEN',
  'last_name': 'HARRIS',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 153,
  'first_name': 'MINNIE',
  'last_name': 'KILMER',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 154,
  'first_name': 'MERYL',
  'last_name': 'GIBSON',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 155,
  'first_name': 'IAN',
  'last_name': 'TANDY',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 156,
  'first_name': 'FAY',
  'last_name': 'WOOD',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 157,
  'first_name': 'GRETA',
  'last_name': 'MALDEN',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 158,
  'first_name': 'VIVIEN',
  'last_name': 'BASINGER',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 159,
  'first_name': 'LAURA',
  'last_name': 'BRODY',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 160,
  'first_name': 'CHRIS',
  'last_name': 'DEPP',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 161,
  'first_name': 'HARVEY',
  'last_name': 'HOPE',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 162,
  'first_name': 'OPRAH',
  'last_name': 'KILMER',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 163,
  'first_name': 'CHRISTOPHER',
  'last_name': 'WEST',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 164,
  'first_name': 'HUMPHREY',
  'last_name': 'WILLIS',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 165,
  'first_name': 'AL',
  'last_name': 'GARLAND',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 166,
  'first_name': 'NICK',
  'last_name': 'DEGENERES',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 167,
  'first_name': 'LAURENCE',
  'last_name': 'BULLOCK',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 168,
  'first_name': 'WILL',
  'last_name': 'WILSON',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 169,
  'first_name': 'KENNETH',
  'last_name': 'HOFFMAN',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 170,
  'first_name': 'MENA',
  'last_name': 'HOPPER',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 171,
  'first_name': 'OLYMPIA',
  'last_name': 'PFEIFFER',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 172,
  'first_name': 'GROUCHO',
  'last_name': 'WILLIAMS',
  'last_update': '2022-02-15T09:34:33+00:00'},
 {'actor_id': 173,
  'first_name': 'ALAN',

In [15]:
def get_table_ddl():
    inspector = inspect(engine)
    table_names = inspector.get_table_names(schema='public')
    
    print("--- ğŸ—ï¸ DATABASE FOUNDATION (DDL) ---")
    
    for table in table_names:
        print(f"\nCREATE TABLE {table} (")
        columns = inspector.get_columns(table, schema='public')
        
        # Loop through columns to mimic the SQL format
        lines = []
        for col in columns:
            col_str = f"  {col['name']} {col['type']}"
            if not col['nullable']:
                col_str += " NOT NULL"
            lines.append(col_str)
            
        # Join them with commas
        print(",\n".join(lines))
        print(");")
        print("-" * 30)

        break

OperationalError: (psycopg2.OperationalError) could not translate host name "db.ywftdjkjdchwmnmytrjj.supabase.co" to address: Name or service not known

(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [17]:
import psycopg2
from dotenv import load_dotenv
import os

# Load environment variables from .env
load_dotenv()

# Fetch variables
USER = os.getenv("user")
PASSWORD = os.getenv("password")
HOST = os.getenv("host")
PORT = os.getenv("port")
DBNAME = os.getenv("dbname")

# Connect to the database
try:
    connection = psycopg2.connect(
        user="postgres",
        password="shivanshkimkc",
        host="db.ywftdjkjdchwmnmytrjj.supabase.co",
        port=5432,
        dbname="postgres"
    )
    print("Connection successful!")
    
    # Create a cursor to execute SQL queries
    cursor = connection.cursor()
    
    # Example query
    cursor.execute("SELECT NOW();")
    result = cursor.fetchone()
    print("Current Time:", result)

    # Close the cursor and connection
    cursor.close()
    connection.close()
    print("Connection closed.")

except Exception as e:
    print(f"Failed to connect: {e}")

Failed to connect: could not translate host name "db.ywftdjkjdchwmnmytrjj.supabase.co" to address: Name or service not known

In [ ]:
from sqlalchemy import create_engine, inspect

# 1. Use your existing connection
db_password = "your_actual_password_here"
DB_URL = "postgresql://postgres.ywftdjkjdchwmnmytrjj:shivanshkimkc@aws-1-ap-south-1.pooler.supabase.com:6543/postgres"
engine = create_engine(DB_URL,echo=True)

In [29]:
from sqlalchemy import create_engine, MetaData
from sqlalchemy.schema import CreateTable

In [42]:
def dump_schema():
    try:
        engine = create_engine(DB_URL)
        metadata = MetaData()
        
        # Fetch table definitions
        metadata.reflect(bind=engine)
        print(f"âœ… Connected! Found {len(metadata.tables)} tables.")
        
        # Open file to write
        with open("my_schema.sql", "w", encoding="utf-8") as f:
            for table_name in metadata.tables:
                
                # --- FILTERS ---
                # Skip the AI tables (fixes NullType error)
                if table_name in ['embeddings', 'embeddings_documents']:
                    continue
                # Skip the Partition tables (noise)
                # if "payment_p" in table_name:
                #     continue
                # Skip internal Postgres tables
                if table_name.startswith("pg_"):
                    continue

                # Generate DDL
                table = metadata.tables[table_name]
                ddl = CreateTable(table).compile(engine)
                
                # Write to file
                f.write(f"-- Table: {table_name}\n")
                f.write(str(ddl).strip() + ";\n\n")
                print(f"   Saved: {table_name}")

        print("\nğŸ‰ DONE! Check the file 'my_schema.sql' in this folder.")

    except Exception as e:
        print(f"âŒ Error: {e}")
        print("ğŸ’¡ Hint: If 'Name not known', change aws-0 to aws-1 in the db_host variable.")

In [43]:
dump_schema()

C:\Users\rawat\AppData\Local\Temp\ipykernel_35980\1638388573.py:7: SAWarning: Did not recognize type 'vector' of column 'embedding'
  metadata.reflect(bind=engine)

âœ… Connected! Found 38 tables.
   Saved: customers
   Saved: orders
   Saved: employees
   Saved: shippers
   Saved: us_states
   Saved: products
   Saved: categories
   Saved: suppliers
   Saved: order_details
   Saved: region
   Saved: territories
   Saved: employee_territories
   Saved: customer_demographics
   Saved: customer_customer_demo
   Saved: payment
   Saved: payment_p2022_07
   Saved: film
   Saved: language
   Saved: actor
   Saved: address
   Saved: city
   Saved: country
   Saved: category
   Saved: customer
   Saved: store
   Saved: film_actor
   Saved: film_category
   Saved: inventory
   Saved: rental
   Saved: staff
   Saved: payment_p2022_01
   Saved: payment_p2022_02
   Saved: payment_p2022_03
   Saved: payment_p2022_04
   Saved: payment_p2022_05
   Saved: payment_p2022_06

ğŸ‰ DONE! Check the file 'my_schema.sql' in this folder.

In [35]:
generate_ddl()

â³ Connecting to Supabase (IPv4 Pooler)...

C:\Users\rawat\AppData\Local\Temp\ipykernel_35980\1710485257.py:10: SAWarning: Did not recognize type 'vector' of column 'embedding'
  metadata.reflect(bind=engine)

âœ… Success! Found 38 tables.

==================================================